*.pyc
*.zip
.DS_Store
withoutVPC/vendored
withoutVPC/.serverless
withoutVPC/env.yml

withVPC/vendored
withVPC/.serverless
withVPC/env_*.yml
withVPC/env.yml

CDK/node_modules
CDK/*.js
CDK/!jest.config.js
CDK/*.d.ts
CDK/.cdk.staging
CDK/cdk.out